<div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a href="/Admin/User/Index"><i class="la la-user"></i><span class="menu-title" data-i18n="nav.dash.main">Users</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Admin/Banner/Index"><i class="la la-image"></i><span class="menu-title" data-i18n="nav.templates.main">Banners</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Admin/Category/Index"><i class="la la-book"></i><span class="menu-title" data-i18n="nav.navbars.main">Category/Sub category</span></a>
            </li>
            @*<li class=" nav-item">
                    <a href="/Admin/Facilities/Index"><i class="la la-columns"></i><span class="menu-title" data-i18n="nav.page_layouts.main">Facilities</span></a>
                </li>*@
            <li class=" nav-item">
                <a href="/Admin/Business/Index"><i class="la la-briefcase"></i><span class="menu-title" data-i18n="nav.vertical_nav.main">Venue</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Admin/Branch/Index"><i class="la la-building"></i><span class="menu-title" data-i18n="nav.horz_nav.main">Destination</span></a>
            </li>
            @*<li class=" nav-item">
                    <a href="/Admin/ImageGallery/Index"><i class="la la-image"></i><span class="menu-title" data-i18n="nav.page_headers.main">Image Gallery</span></a>
                </li>
                <li class=" nav-item">
                    <a href="/Admin/MediaGallery/Index"><i class="la la-video-camera"></i><span class="menu-title" data-i18n="nav.footers.main">Media Gallery</span></a>
                </li>*@
            <li class=" nav-item">
                <a href="/Admin/CommentWriter/Index"><i class="la la-edit"></i><span class="menu-title" data-i18n="nav.starter_kit.main">Comment Writer</span></a>
            </li>
            <li class=" nav-item">
                <a href="/Admin/StaticPage/Index"><i class="la la-copy"></i><span class="menu-title" data-i18n="nav.changelog.main">Pages</span></a>
            </li>
            <li class="nav-item">
                <a href="/Admin/GeneralSetting/Edit/1"><i class="la la-eye-slash"></i><span class="menu-title" data-i18n="nav.disabled_menu.main">Settings</span></a>
            </li>
        </ul>
    </div>
</div>
