@model IEnumerable<xyngr.Models.CategoryViewModel>
<div class="search-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-form" style="width:100%">
                    <form class="tourz-search-form">
                        <div class="input-field">
                            @{
                                List<SelectListItem> listCategory = new List<SelectListItem>();
                                listCategory.Add(new SelectListItem { Text = "All", Value = "-1" });
                                foreach (var m in Model)
                                {

                                    listCategory.Add(new SelectListItem { Text = m.CategoryName, Value = m.CategoryID.ToString() });
                                }
                            }
                            @Html.DropDownList("ddlCategory", listCategory, null, new { @class = "select-category" })
                        </div>
                        
                        <div id="divSubCategory" class="input-field">
                            @Html.Partial("~/Views/Home/_SubCategoryPartial.cshtml", new List<xyngr.Models.CategoryViewModel>())
                        </div>
                        <div class="input-field">
                            <input type="text" id="select-search" class="">
                            <label for="select-search" class="search-hotel-type">Search our listings for food, fashion, entertainment and more</label>
                        </div>
                        <div class="input-field">
                            <input type="button" id="btnSearch" onclick="SearchData()" value="search" class="waves-effect waves-light tourz-sear-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        BindSubCategoryDropdown($("#ddlCategory").val());

        $("#ddlCategory").change(function () {
            BindSubCategoryDropdown(this.value);
        });
    });

    function SearchData() {
        $.ajax({
            url: '/Home/SearchData/0',
            type: "GET",
            data: {
                "parentCategoryID": $("#ddlCategory").val(),
                "categoryID": $('#ddlSubCategory').val(),
                "location": $("#select-search").val()
            },
            success: function (data) {
                $("#divBody").html(data);
            }
        });

    }

    function activeclass(id) {

        //$("#" + id).removeClass('active selected');
        //$("#" + id).addClass("active selected");
    }

    function BindSubCategoryDropdown(id) {

        $.ajax({
            url: '/Home/GetCategoryByParentIDForFront/' + id,
            type: "GET",
            success: function (data) {
                $("#divSubCategory").html(data);
                $("#ddlSubCategory").show();
            }
        });
    }


</script>